body {
    margin: 0;
    padding: 10vh 0;
    background-color: #ccc;
}

.player {
    width: 40%;
    height: 80%;
    box-shadow: 3px 3px 10px darkgrey;
    background-color: white;
    margin: auto;
    padding: 25px;
}

.track {
    text-align: center;
}

.track-detail-hdr {
    margin: 10px 0 0 0;
}

.art-img {
    max-width: 50%;
    border: 4px solid black;
    border-radius: 50%;
}

.range-input {
    -webkit-appearance: none;
    margin: 0;
    width: 100%;
}


.range-input:focus {
    outline: none;
}


.range-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    border-radius: 25px;
    background: #ffffff;
    position: relative;
    cursor: pointer;
}

.range-input::-webkit-slider-runnable-track {
    width: 100%;
    cursor: pointer;
    border-radius: 25px;
}

.time::-webkit-slider-thumb {
    height: 12px;
    width: 12px;
    top: -3px;
}

.time::-webkit-slider-runnable-track {
    height: 6px;
    background: linear-gradient(
        to right,
        #367ebd 0%,
        #367ebd 50%,
        lightgrey 50%,
        lightgrey 100%
    );
}

.controls {
    margin: 25px 0;
}

.playback-btn {
    border: none;
    border-color: black;
}

.playback-btn:focus {
    outline: none;
}

.playback-btn:active:hover {
    color: #ccc;
    border-color: #ccc;
}

.remaining-time {
    float: right;
}

.track-playback {
    display: flex;
    justify-content: space-between;
    margin: 25px;
}

.playback-ctrl {
    align-self: center;
}

.play {
    border: 2px solid;
    padding: 10px 13px;
    border-radius: 50%;
}

.volume-container {
    display: flex;
    justify-content: space-between;
}

.fa-volume-off,
.fa-volume-up {
    width: 5%;
}

.volume {
    width: 80%;
}

.volume::-webkit-slider-thumb {
    height: 8px;
    width: 8px;
    top: -2px;
}

.volume::-webkit-slider-runnable-track {
    height: 4px;
    background: linear-gradient(
        to right,
        #367ebd 0%,
        #367ebd 50%,
        lightgrey 50%,
        lightgrey 100%
    );
}