body {
    margin: 0;
    padding: 10vh 0;
    background-color: #ccc;
}

.player {
    width: 40%;
    height: 80%;
    box-shadow: 3px 3px 10px darkgrey;
    background-color: white;
    margin: auto;
    padding: 25px;
}

.track {
    text-align: center;
}

.track-detail-hdr {
    margin: 10px 0 0 0;
}

.art-img {
    max-width: 50%;
    border: 4px solid black;
    border-radius: 50%;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 0;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 12px;
    width: 12px;
    border-radius: 25px;
    background: #ffffff;
    position: relative;
    top: -3px;
    cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    background: linear-gradient(
        to right,
        #367ebd 0%,
        #367ebd 50%,
        lightgrey 50%,
        lightgrey 100%);
    border-radius: 25px;
}

.remaining-time {
    float: right;
}

.track-playback {
    display: flex;
    justify-content: space-between;
    margin: 25px;
}

.playback-ctrl {
    align-self: center;
}

.play {
    border: 2px solid black;
    padding: 10px 13px;
    border-radius: 50%;
}