body {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5%;
    font-family: 'Roboto', sans-serif;
    color: #424B54;
}

header {
    text-align: center;
}

.title {
    margin-left: 5%;
    width: 100%;
}

.sidebar {
    width: 15%;
    margin: 0 5%;
}

.headshot-img {
    max-width: 100%;
    border-radius: 10px;
}

.description {
    font-size: 14px;
    color: #757C82;
}

.showcase {
    flex: 1;
}

#sort-group {
    margin: 0 3%;
    list-style: none;
    -webkit-margin-before: 0;
    -webkit-padding-start: 0;
    position: relative;
}


.sort-item {
    padding: 0 30px;
    display: inline;
}

.sort-item a {
    text-decoration: none;
    color: #393D3F;
}

.sort-item-link {
    cursor: pointer;
}

#nav-underline {
    position: absolute;
    left: 0;
    width: 100px;
    height: 2px;
    background: #FF715B;
}

.boxes-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.box {
    background-color: white;
    overflow: hidden;
    width: 27%;
    margin: 3%;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    border-radius: 10px;
}

.box-hdr {
    text-align: center;
}

.thumb {
    max-width: 100%;
    display: block;
}

.box-body {
    position: relative;
}

.box-id-wrap {
    position: absolute;
    top: -25px;
    width: 40px;
    height: 40px;
    padding: 5px;
    text-align: center;
    left: 50%;
    background-color: white;
    font-size: 20px;
    transform: translateX(-50%);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box-name-wrap {
    padding: 20px 0;
    text-align: center;
}

.box-name {
    font-size: 20px;
}