body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    color: #FEF9F1;
    font-size: 16px;
}


.landing-page {
    background: linear-gradient(
        to right top,
        #FEF9F1 0%,
        #FEF9F1 40%,
        #393E41 40%,
        #393E41 100%
    );
    width: 100vw;
    height: 100vh;
}


.header {
    display: flex;
    flex-direction: row;
    padding: 10px 10%;
}


.site-hdr {
    width: 60%;
    margin: auto;

}


.site-hdr-text {
    font-weight: 800;
}


.nav-wrapper {
    width: 40%;
}


.navbar {
    float: right;
    -webkit-padding-start: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.navbar li {
    display: inline-block;
}


.navbar li a {
    text-decoration: none;
    color: inherit;
}


.site-body {
    display: flex;
    /* font-size:  */
    height: 60%;
}


.site-body-text {
    margin: auto;
    position: relative;
    left: -2em;
    width: 50%;
}


.site-body-text h1 {
    font-weight: 800;
}


.site-body h1,
.site-body h6 {
    margin: 0;
}


.egg-text {
    position: relative;
    top: -0.4em;
}

.egg-wrapper {
    width: 50%;
    margin: auto;
}

.egg-hero {
    max-width: 100%;
    max-height: 100%;
}

@media (min-width: 576px) {
    .site-body {
        font-size: 1.3em;
    }
}


@media (min-width: 768px) {
    .landing-page {
        background: linear-gradient(
            to right top,
            #FEF9F1 0%,
            #FEF9F1 40%,
            #393E41 40%,
            #393E41 100%
        );
    }

    .site-body {
        font-size: 2em;
    }

    .site-body-text {
        left: -3em;
    }
}


@media (min-width: 992px) {
    .site-body {
        font-size: 3em;
    }

    .site-body-text {
        left: -2em;
    }
}

@media (min-width: 1441px) {
    .site-body {
        font-size: 5em;
    }

    .site-body-text {
        left: -2em;
    }

    .landing-page {
        background: linear-gradient(
            to right top,
            #FEF9F1 0%,
            #FEF9F1 30%,
            #393E41 30%,
            #393E41 100%
        );
    }
}