body {
    background-color: #62929E;
    font-size: 15px;
    color: #393D3F;
    font-family: 'Roboto', sans-serif;
}

.modal {
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: 80%;
    -moz-box-shadow:    10px 10px 20px -2px #393D3F;
    -webkit-box-shadow: 10px 10px 20px -2px #393D3F;
    box-shadow:         10px 10px 20px -2px #393D3F;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    overflow: hidden;
}

.modal-nav {
    height: 10%;
    padding-top: 20px;
}

.modal-content {
    height: 90%;
    /* padding: 0 20px; */
    width: 100%;
    position: absolute;
}

.modal-content-hdr {
    text-align: center;
}

.form-group {
    margin: 25px 0;
}

form {
    text-align: center;
}

label {
    display: block;
}

.modal-nav {
    text-align: center;
}

#modal-nav-group {
    margin: 0 auto;
    list-style: none;
    -webkit-margin-before: 0;
    -webkit-padding-start: 0;
}

.modal-nav-li {
    padding: 0 30px;
    display: inline;
}

.modal-nav-link {
    text-decoration: none;
    color: #393D3F;
}

#nav-underline {
    position: absolute;
    left: 0;
    width: 100px;
    height: 2px;
    background: #393D3F;
}

input {
    display: block;
    font-family: FontAwesome, 'Roboto', sans-serif;
    width: 60%;
    height: 25px;
    border: none;
    border-bottom: 1px solid #393D3F;
    padding: 5px 0 0 5px;
    font-size: 1em;
    margin: 0 auto;
    color: #393D3F;
}

input:focus {
    outline: none;
    background: rgba(0,0,0,.1);
}

.continue {
    padding: 10px;
    background-color: #62929E;
    color: #FDFDFF;
    border: none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 100px;
}

.continue:focus {
    outline: none;
    left: 100%;
}

#login {
    left: 0;
}

#signup {
    left: 100%;
}

@media (min-width: 576px) {
    .modal {
        width: 60%;
    }
}


@media (min-width: 768px) {
    .modal {
        width: 40%;
    }
}


@media (min-width: 992px) {

}