body {
    background: grey;
}

.messages-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flash {
    width: 90%;
    margin: 5% auto;
}

.flash-wrap {
    width: 90%;
    margin: auto;
    padding: 5%;
}

.success {
    background: white;
}

.error {
    background: white;
}


.icon {
    max-width: 100%;
}

.icon-wrap {
    width: 40%;
    padding: 5%;
    margin: auto;
}

.text-wrap {
    width: 80%;
    margin: auto;
    text-align: center;
}

@media (min-width: 426px) {
    .flash {
        width: 60%;
    }
}

@media (min-width: 769px) {
    .flash {
        width: 40%;
    }
}