body {
    background: grey;
    /* width: 100%; */
}

.messages-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* width: 100%; */
}

.flash-wrap {
    width: 100%;
    margin: 5% 0;
}

.flash {
    width: 90%;
    height: 100%;
    margin: auto;
    padding: 5px;
}

.success {
    background: white;
}

.error {
    background: white;
}


.icon {
    max-width: 100%;
}

.icon-wrap {
    width: 40%;
    padding: 5%;
    margin: auto;
}

.text-wrap {
    width: 80%;
    margin: auto;
    text-align: center;
}