body {
    margin: 0;
    padding: 20px;
    background-color: lightgrey;
}

.settings {
    box-shadow: 5px 5px 5px black;
    width: 50%;
    margin: auto;
    background-color: white;
    padding: 20px;
}

.setting-hdr-wrap {
    margin: 10px 0;
}

.setting-hdr {
    margin: 0;
}

.setting-item {
    display: flex;
}

.setting-icon {
    width: 5%;
    text-align: center;
}

.setting-text {
    width: 45%;
}

.setting-control {
    width: 50%;
    text-align: right;
}

.settings-list {
    margin: 0;
    padding: 0;
    -webkit-margin-before: 0;
}