body, html {

    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 100%;

}

.checkout {
    height: 100%;
    background-color: #FFFCF7;
    margin: 20px;
}

.checkout-child {
    padding: 20px;
}

.checkout-hdr {
    height: 25%;
    background-color:red;
}

.checkout-body {
    height: 75%;
    background-color:blue;
}