body, html {

    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 100%;
    color: #738290;
    background-color: #738290;
}

.checkout {
    height: 85%;
    width: 90%;
    /* margin: 20px; */
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    background-color: #FFFCF7;
    box-shadow: 3px 3px 50px #000;
}

.checkout-child {
    padding: 20px;
}

.checkout-hdr {
    height: 25%;
    /* border:1px solid red; */
}

.checkout-hdr {
    text-align: center;
}

.progress-wrap {
    margin-top: 20px;
    /* z-index: -2; */
}

.progress-bar {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
    padding: 0 10%;
    counter-reset: step;
    z-index: 1;
    position: relative;
}

.progress-bar li {
    list-style-type: none;
    width: 25%;
    float: left;
    font-size: .8em;
    list-style-type: none;
	/* color: white; */
	text-transform: uppercase;
	font-size: 9px;
	position: relative;
}

.progress-bar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height:20px;
    display:block;
    margin: 0 auto 5px auto;
    background: lightgrey;
}

.progress-bar li:after {
    content: ' ';
    width: 100%;
    height: 2px;
    position: absolute;
    left: -50%;
    background: lightgrey;
    top: 9px;
    z-index: -1;
}

.progress-bar li:first-child:after {
    content: none;
}

.checkout-body {
    height: 75%;
    /* border:1px solid blue; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    padding-top: 0;
}

.checkout-body-hdr {
    width: 100%;
    /* background: red; */
}

.customer-info-wrap {
    /* background:blue; */
    width: 45%;
}

.order {
    /* background: green; */
    width: 45%;
}

.shipping-hdr:after {
    content: ' ';
    background: black;
    height:2px;
    width: 100%;
}

h4 {
    margin: 0;
    color: #CFC7D2;
    text-transform: uppercase;
}

.payment-wrapper {
    padding-left: 2px;
}
.address-wrapper {
    padding-left: 2px;
    font-size: .7em;
    line-height: 1.5em;
}

.order-wrapper {
    font-size: .7em;
}

.shipping {
    margin-bottom: 20px;
}

hr {
    border-style: solid;
    color: #CFC7D2;
}

.credit-card {
    /* height: 150px; */
    background-color: #A1B5D8;
    border-radius: 10px;
    color: #FFFCF7;
    padding: 5px;
}

.credit-card-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.credit-card label {
    font-size: .6em;
    display: block;
}

.form-group input {
    height: 25px;
    box-sizing: border-box;
    /* width: 100%; */
}

.form-group {
    margin: 5px;
}

.form-group input {
    min-width: 100%;
    max-width: 100%;
    display: inline-block;
}

.large {
    width: 100%;
}

.small {
    width: 45%;
}

.group-cvc {
    float: right;
}






/*

.progress-bar li.active:before,
.progress-bar li.active:after{
    background: #C2D8B9;
} */


